@model IEnumerable<Employee>

@{
    Layout = "_ManagerLayout";
}

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som avdelningschef</p>

@await Component.InvokeAsync("Errand", new { errandId = ViewBag.ErrandId })

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <form method="post" asp-controller="Manager" asp-action="HandleErrand">
        <input type="hidden" name="errandId" value="@ViewBag.ErrandId" />

        <p>
            <label for="employeeId">Ange handläggare:</label>
            <select id="employeeId" name="employeeId" class="form-control">
                <option value="">Välj</option>
                @foreach (var employee in Model)
                {
                    if (employee.RoleTitle == "Investigator")
                    {
                        <option value="@employee.EmployeeId">@employee.EmployeeName</option>
                    }
                }
            </select>
        </p>

        <p>
            <input type="checkbox" id="noAction" name="noAction" value="true" />
            <label for="noAction">Ingen åtgärd:</label>
            <input type="text" id="reason" name="reason" placeholder="Ange motivering" class="form-control" />
        </p>

        <p><input class="button" type="submit" value="Spara" /></p>
    </form>
    
</section>
